.article {
    padding-top: 60px;
}

.article__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 30px;
}

.container__article {
    padding-bottom: 50px;
}